.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    font-size: 16px;
}

li{
   line-height: 32px;
}

body{
background-color: #ffe5e5;
}

span{
    font-weight: bold;
}
.back{
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 1rem;
}

.omelette{
    border-radius: 2rem;
    overflow: hidden;
  
 
}

.preparation{

    background-color: #ffe5e5;
    border-radius: 1rem;
    padding: 1rem;
}

.ingredients{
    border-bottom: solid;
    border-color: grey;
    border-width: 1px;
 
}

img{
    width: 100%;
}